<MdcLayoutGrid>
  <MdcLayoutGridCell @desktopColumns={{12}} @tabletColumns={{12}} @phoneColumns={{12}}>
    <div style="text-align: center">
      <p>{{config.APP.name}} © 2020</p>
      <p>Build with &lt;3 in Germany, Australia and Japan.</p>
      <p>{{config.APP.version}}</p>

      <p>Ember {{emberVersion}}</p>
    </div>
  </MdcLayoutGridCell>
</MdcLayoutGrid>
