<div class="mdl-grid">

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable
  mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col">

    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Channel {{filteredSubscriptions.length}}</th>

        <label for="input-name">Name:</label>
        <Input id="input-name" name="name" @value={{this.name}} />
      </tr>
    </thead>

    <tbody>

      {{#each filteredSubscriptions as |channel|}}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">

          {{channel.item.snippet.title}}
          {{!-- {{lazy-image url=channel.thumbnails.high class='channel-avatar'}} --}}

        </td>
      </tr>
      {{/each}}

      <tr>
        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
      </tr>
    </tbody>

  </table>


  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Get Started
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

</div>